<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pdt.plume">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.pdt.plume.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.pdt.plume.fileprovider.READ_DATABASE" />
    <uses-permission android:name="com.pdt.plume.fileprovider.WRITE_DATABASE" />

    <permission
        android:name="com.pdt.plume.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.pdt.plume.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:readPermission="com.pdt.plume.fileprovider.MANAGE_DOCUMENTS">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name=".ContentProvider"
            android:authorities="de.pdt.plume"
            android:exported="true"
            android:grantUriPermissions="true"
            android:label="ContentProvider"
            android:readPermission="de.pdt.plume.READ"
            android:writePermission="de.pdt.plume.WRITE" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScheduleDetailActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.ActionBar.Transparent" />
        <activity
            android:name=".TasksDetailActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewScheduleActivity"
            android:label="@string/activity_new_schedule_label"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <data android:mimeType="image/*" />

                <category android:name="android.intent.category.DEFAULT" />
                <!--
                     The OPENABLE category declares that the returned file is accessible
                     from a content provider that supports OpenableColumns
                     and ContentResolver.openFileDescriptor()
                -->
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewTaskActivity"
            android:label="@string/activity_new_task_label"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <data android:mimeType="*/*" />

                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClassesActivity"
            android:label="@string/activity_classes_label"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/nav_settings" />
        <activity android:name=".SettingsThemeActivity" />

        <receiver android:name=".MuteAlarmReceiver" />
        <receiver android:name=".UnmuteAlarmReceiver" />

        <activity
            android:name=".AboutActivity"
            android:label="@string/about_activity_label"
            android:parentActivityName=".SettingsActivity" />
        <activity
            android:name=".NoteActivity"
            android:parentActivityName=".ScheduleDetailActivity" />
        <activity
            android:name=".CompletedTasksActivity"
            android:label="@string/activity_completedTasks_label"
            android:parentActivityName=".MainActivity" />

        <service android:name=".services.RevisionTimerService" />
        <service android:name=".services.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".TaskNotificationPublisher" />

        <service android:name=".services.ScheduleNotificationService" />

        <!-- <receiver -->
        <!-- android:name=".ScheduleWidgetProvider" -->
        <!-- android:label="@string/schedule"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.appwidget.action.APPWIDGET_UPDATE" /> -->
        <!-- </intent-filter> -->


        <!-- <meta-data -->
        <!-- android:name="android.appwidget.provider" -->
        <!-- android:resource="@xml/provider_widget_schedule" /> -->
        <!-- </receiver> -->


        <!-- <service -->
        <!-- android:name=".services.ScheduleWidgetService" -->
        <!-- android:permission="android.permission.BIND_REMOTEVIEWS" /> -->


        <!-- <receiver -->
        <!-- android:name=".TasksWidgetProvider" -->
        <!-- android:label="@string/tasks"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.appwidget.action.APPWIDGET_UPDATE" /> -->
        <!-- </intent-filter> -->


        <!-- <meta-data -->
        <!-- android:name="android.appwidget.provider" -->
        <!-- android:resource="@xml/provider_widget_tasks" /> -->
        <!-- </receiver> -->


        <!-- <service -->
        <!-- android:name=".services.TasksWidgetService" -->
        <!-- android:permission="android.permission.BIND_REMOTEVIEWS" /> -->

        <activity
            android:name=".PeopleActivity"
            android:label="@string/nav_people"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUpActivity"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RequestsActivity"
            android:label="@string/nav_requests"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UserSearchActivity"
            android:label=""
            android:parentActivityName=".PeopleActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".AddPeerActivity"
            android:label=""
            android:parentActivityName=".UserSearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AcceptPeerActivity"
            android:label=""
            android:parentActivityName=".RequestsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PeerProfileActivity"
            android:label=""
            android:parentActivityName=".PeopleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PictureActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".NewPeriodOneActivity" />
        <activity android:name=".NewPeriodTwoActivity"
            android:parentActivityName=".NewPeriodOneActivity"/>
        <activity android:name=".IntroActivity"></activity>
    </application>

</manifest>